absl-py==1.2.0
anyio==3.6.1
click
#contourpy
cycler
Cython
fastapi
filterpy
fonttools
h11
idna
imageio
importlib-metadata
joblib
kiwisolver
llvmlite
matplotlib
networkx
numba==0.56.4
numpy==1.23.5
opencv-python
packaging
Pillow
pydantic
pyparsing
python-dateutil
PyWavelets
scikit-image
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tifffile
typing_extensions
uvicorn
zipp
