click==8.1.7
dlib==19.24.2
numba==0.58.1
opencv-python
scipy
filterpy
# tensorflow==2.7.0
imutils
matplotlib

ultralytics
omegaconf
schedule
# lap

# face-recognition
# face-recognition-models
hsemotion
hsemotion-onnx
# timm==0.4.5

fpdf
pandas